VITE_BACKEND=http://localhost:5000
# Google client id for OAuth
VITE_GOOGLE_CLIENT_ID=
VITE_FRONTEND=http://localhost:5173
# verification url should always point to hosted frontend url
VITE_VERIFICATION_URL=https://example.com